#  Local .terraform directories
**/.terraform/*

.tfstate files
.tfstate.backup
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*/*.tfstate
*/*.tfstate.*
*/*.hcl

# .tfvars files
*.tfvars
*/*.tfvars

# EKS files
config*
*/config*

*.DS_Store